@import './_variables.css';
@import './_base.css';
@import './_utility.css';

body {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 100px);
}

.box {
  width: 100px;
  height: 100px;
  background: steelblue;
}

.active {
  background: hotpink;
}
