@import './_variables.css';
@import './_base.css';
@import './_utility.css';

body {
  display: grid;
  gap: 20px;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
}

.box {
  width: 100px;
  height: 100px;
  background: steelblue;
}

.active {
  background: hotpink;
}
